name: Android Build

on:  [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set Up JDK Environment
        uses: actions/setup-java@v1
        with:
          distribution: "adopt"
          java-version: 17

      - name: Spotless Test
        run: ./gradlew spotlessCheck --stacktrace

      - name: Gradle Build
        run: ./gradlew testDebug --stacktrace
